@using TravelAppWebUI.Helper.Session;
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Anasayfa</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info" role="alert">
                                <h4 class="alert-heading">Hoşgeldiniz!</h4>
                                <p>Travel App'e hoşgeldiniz. Kullanıcı Olarak Oturum Açtınız</p>
                                <hr>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


