@using TravelAppWebUI.Helper.Session;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel App| Anasayfa</title>
    <script src="/Docs/plugins/jquery/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="/Docs/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="/Docs/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/Docs/plugins/ekko-lightbox/ekko-lightbox.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="/Docs/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Docs/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/Docs/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/Docs/plugins/sweetalert2/sweetalert2.css">
    

    
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <nav class="main-header navbar navbar-expand navbar-white navbar-light">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Admin/Anasayfa" class="nav-link">Home</a>
                </li>
              
            </ul>

            <ul class="navbar-nav ml-auto">

               

               
               
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>


        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <a href="/Admin/Anasayfa" class="brand-link">
                <img src="/Docs/dist/img/tlogo.jpg" alt="Travel App Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Travel App</span>
            </a>

            <div class="sidebar">

                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                   
                    <div class="info">
                        <a href="Admin/Anasayfa" class="d-block">@SessionManager.LoggedUser.NameSurname</a>
                    </div>
                </div>

                <div class="form-inline">
                </div>



            </div>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                    <li class="nav-item">




                    <li class="nav-item">
                        <a href="/Admin/Anasayfa" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Anasayfa

                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Tour" class="nav-link">
                            <i class="nav-icon fas fa-globe-americas"></i>
                            <p>
                                Turlar

                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/TourCompany" class="nav-link">
                            <i class="nav-icon far fa-building"></i>
                            <p>
                                Tur Şirketleri

                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/TourGuide" class="nav-link">
                            <i class="nav-icon fas fa-id-card"></i>
                            <p>
                                Tur Rehberleri

                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Reservation" class="nav-link">
                            <i class="nav-icon fas fa-calendar"></i>
                            <p>
                                Rezervasyon

                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/FlightInformation" class="nav-link">
                            <i class="nav-icon fas fa-plane"></i>
                            <p>
                                Uçuş Bilgileri

                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Hotel" class="nav-link">
                            <i class="nav-icon fas fa-hotel"></i>
                            <p>
                                Oteller

                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Destination" class="nav-link">
                            <i class="nav-icon fas fa-route"></i>
                            <p>
                                Varış Noktaları

                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/ReservationDetail" class="nav-link">
                            <i class="nav-icon fas fa-search-location"></i>
                            <p>
                                Rezervasyon Detayları

                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/User" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                              Kullanıcılar

                            </p>
                        </a>
                    </li>

                </ul>
            </nav>
        </aside>

        <div class="content-wrapper">

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>@ViewData["Title"]</h1>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <section id="content">

                    @RenderBody() <!-- RenderBody method call to display content from child pages -->
                </section>
            

            </section>

        </div>

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 0.0.1
            </div>
            <strong>Copyright &copy; 2014-2023 <a href="/Admin/Anasayfa">Travel App</a>.</strong>Tüm Hakları Saklıdır
        </footer>

        <aside class="control-sidebar control-sidebar-dark">

        </aside>

    </div>



    <script src="/Docs/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/Docs/dist/js/adminlte.min.js?v=3.2.0"></script>

    <script src="/Docs/dist/js/demo.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/Docs/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Docs/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Docs/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Docs/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/Docs/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Docs/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/Docs/plugins/jszip/jszip.min.js"></script>
    <script src="/Docs/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/Docs/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/Docs/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/Docs/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/Docs/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="/Docs/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/Docs/plugins/sweetalert2/sweetalert2.js"></script>
<script src="/Docs/plugins/sweetalert2/sweetalert2.min.js"></script>

</body>
</html>
